* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
}

.background_body {
  width: 100%;
}

.wrapper_80 {
  width: 70%;
  margin: 0 auto;
}

header .header_top {
  width: 100%;
  height: 100px;
  background-color: black;
}
header .header_first {
  width: 100%;
  height: 50%;
  line-height: 50px;
}
header .header_first select {
  float: right;
  margin-top: 15px;
}
header .header_first ul {
  float: right;
}
header .header_first ul li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}
header .header_first ul li a {
  color: grey;
  text-decoration: none;
}
header .header_first ul li a:hover {
  color: white;
  text-decoration: underline;
}
header .header_first ul li i {
  color: #009CFF;
  font-size: 13px;
}
header .header_second {
  width: 100%;
  height: 50%;
}
header .header_second img {
  width: 100px;
  vertical-align: middle;
}
header .header_second ul {
  display: inline-block;
  vertical-align: bottom;
}
header .header_second ul li {
  padding: 0 25px;
  display: inline-block;
  list-style: none;
}
header .header_second ul li i {
  color: grey;
  vertical-align: middle;
  padding-left: 5px;
}
header .header_second ul li a {
  color: white;
  text-decoration: none;
}
header .jumbotron {
  width: 100%;
  height: 400px;
  background-image: url("https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg");
  background-position: left;
  background-size: cover;
}
header .navbar {
  background-color: #E6E6E6;
}

.navbar {
  width: 100%;
  height: 70px;
  border: 1px solid white;
}

main {
  width: 100%;
}
main .section {
  height: 500px;
  border: 1px solid white;
}

footer {
  width: 100%;
  height: 500px;
}
footer .footer_top {
  height: 80%;
  border: 1px solid white;
}
footer .footer_bot {
  height: 20%;
  border: 1px solid white;
}
