* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: $bodyColor;
}

.background_body {
  width: 100%;
}


.wrapper_80 {
  width: 70%;
  margin: 0 auto;
}




@mixin borderTest {
  border: 1px solid white;
}
