* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: $bodyColor;
}

.background_body {
  width: 100%;
}

li {
  list-style: none;
}

.btn {
  width: 200px;
  height: 60px;
  border: 1px solid white;
  background-color: grey;
  padding: 5px;
}
