$bodyColor: black;

$backgroundJumbotron: "https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg";


$brandColor: #009CFF;


@mixin borderTest {
  border: 1px solid white;
}

@mixin wrapper_80 {
  width: 70%;
  margin: 0 auto;
}
